.admin--main--container {
  width: 1920px;
  height: 975px;
  margin: 0px auto;
  display: flex;
  /* position: relative; */
  /* background-color: green; */
}

.admin--main--content--container {
  display: flex;
  flex-direction: column;
}
